/* GLOBAL STYLES */
body {
  background: #222;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typewriter {
  padding: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(39, 184, 187); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.txt {
  color: #fff;
font-family: monospace;
overflow: hidden; /* Ensures the content is not revealed until the animation */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}


.links {
  padding-top: 15px;
}

.links ul {
  padding: 0;
  margin: 0;
}
.links li {
  list-style-type: none;
  display: inline;
  padding: 12px;
  
}
.links li a {
  font-size: 200%;
  color: #AAA;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(39, 184, 187) }
}
